//-放所依赖的样式
link(href="../lib/css/bootstrap.min.css", rel="stylesheet")
link(href="../css/footer.css", rel="stylesheet")
link(href="../css/header.css", rel="stylesheet")


script(src="../lib/js/jquery.min.js")
script(src="../lib/js/bootstrap.min.js")
script(src="../lib/js/underscore-min.js")
script(src="../lib/js/angular.min.js")
script(src="../js/ngAirTickets.js")
