//-放所依赖的样式
link(href="../css/bootstrap.min.css", rel="stylesheet")
link(href="../css/footer.css", rel="stylesheet")
link(href="../css/header.css", rel="stylesheet")


script(src="../js/jquery.min.js")
script(src="../js/bootstrap.min.js")
script(src="../js/underscore-min.js")
script(src="../js/angular.min.js")
script(src="../js/ngAirTickets.js")
