//-首页
//-继承通用模块
extends ../layout

block javascript
	script(src="../js/index.js")
	script(src="../lib/js/select2.js")
	script(src="../lib/js/bootstrap-datepicker.js")

block css
	link(href="../lib/css/select2.css", rel="stylesheet")
	link(href="../lib/css/datepicker3.css", rel="stylesheet")
	link(href="../css/index.css", rel="stylesheet")

block content
	div(ng-controller="indexCtrl")
		.jumbotron.bs-docs-header
			.container
				h1(style="color:#fff") 机票查询
		.container
			.row(style="padding:10px")
				.col-xs-12.col-md-8
					.row.form-group
						.col-xs-6
							//- label.col-sm-2.control-label 出发地
							#startPlace.select2-container.select-box(placeholder="出发地")
						.col-xs-6
							//- label.col-sm-2.control-label 目的地
							#endPlace.select2-container.select-box(placeholder="目的地")
					.row.form-group
						.col-xs-6
							//- label.col-sm-2.control-label 出发时间
							#startDatepicker.input-group.input-append.date.datepicker(data-date="",data-date-format="yyyy-mm-dd")
								input.span2.form-control(size="16",placeholder="出发时间",type="text",value="",readonly="")
								span.add-on.input-group-addon
									i.glyphicon.glyphicon-calendar
						//- .col-xs-6
							//- label.col-sm-2.control-label 到达时间
							#endDatepicker.input-group.input-append.date.datepicker(data-date="",data-date-format="yyyy-mm-dd")
								input.span2.form-control(size="16",placeholder="到达时间",type="text",value="",readonly="")
								span.add-on.input-group-addon
									i.glyphicon.glyphicon-calendar
				.col-xs-6.col-md-4
					a.btn.btn-outline(id="search",ng-click="search()") 查询
		.container
			.row
				table.table.table-hover.table-bordered
					thead
						tr
							th.text-center 航班信息
							th.text-center 起降时间
							th.text-center 总时长
							th.text-center 起降机场
							th.text-center 票价
							th.text-center 税费
							//- th.text-center 舱位等级
							th.text-center 订票
					tbody
						//- each item in flights
						tr(ng-repeat="item in flights")
							td.text-center
								p {{item.attributes.company}}
								p {{item.attributes.planeName}}
							td.text-center
								p {{item.attributes.flyDate}}
								hr.half-rule
								p {{item.attributes.arrDate}}
							td.text-center
								p {{item.attributes.flyTime}}
							td.text-center
								p {{item.attributes.flyAirport}}
								hr.half-rule
								p {{item.attributes.arrAirport}}
							td.text-center
								p {{item.attributes.fare}}
							td.text-center
								p {{item.attributes.tax}}
							//- td.text-center
								p 经济舱
							td.text-center
								a(target="_blank", href="/ticketDetail/3")
									button.btn.btn-outline.del(type="button", data-id="{{item.attributes._id}}") 订票
			nav.text-center
				ul.pagination
					//- li(ng-class="{disabled:pages[0]==1}")
					//- 	a(href="#") <<
					//- li(ng-class="{disabled:activePage[0]}")
					//- 	a(href="#") <
					li(ng-if="!pages[0]==1")
						a(href="#") <<
					li(ng-if="!activePage[0]")
						a(href="#",ng-click="queryByPage(curPage-1)") <

					li(ng-repeat="page in pages",ng-class="{active: activePage[{{$index}}]}" )
						a(href="#",ng-click="queryByPage(pages[$index])") {{page}}

					li(ng-if="!activePage[pageNum-1]")
						a(href="#",ng-click="queryByPage(curPage+1)") >
					li(ng-if="!true")
						a(href="#") >>
