//-首页
//-继承通用模块
extends ../layout

block javascript
	script(src="../js/index.js")
	script(src="../js/select2.js")
	script(src="../js/bootstrap-datepicker.js")

block css
	link(href="../css/select2.css", rel="stylesheet")
	link(href="../css/index.css", rel="stylesheet")
	link(href="../css/datepicker3.css", rel="stylesheet")

block content
	.jumbotron.bs-docs-header
		.container
			h1(style="color:#fff") 机票查询
	.container
		.row(style="padding:10px")
			.col-xs-12.col-md-8
				.row.form-group
					.col-xs-6
						//- label.col-sm-2.control-label 出发地
						#startPlace.select2-container.select-box(placeholder="出发地")
					.col-xs-6
						//- label.col-sm-2.control-label 目的地
						#endPlace.select2-container.select-box(placeholder="目的地")
				.row.form-group
					.col-xs-6
						//- label.col-sm-2.control-label 出发时间
						#startDatepicker.input-group.input-append.date.datepicker(data-date="",data-date-format="yyyy-mm-dd")
							input.span2.form-control(size="16",placeholder="出发时间",type="text",value="",readonly="")
							span.add-on.input-group-addon
								i.glyphicon.glyphicon-calendar
					//- .col-xs-6
						//- label.col-sm-2.control-label 到达时间
						#endDatepicker.input-group.input-append.date.datepicker(data-date="",data-date-format="yyyy-mm-dd")
							input.span2.form-control(size="16",placeholder="到达时间",type="text",value="",readonly="")
							span.add-on.input-group-addon
								i.glyphicon.glyphicon-calendar
			.col-xs-6.col-md-4
				a.btn.btn-outline(id="search") 查询
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th.text-center 航班信息
						th.text-center 起降时间
						th.text-center 总时长
						th.text-center 起降机场
						th.text-center 票价
						th.text-center 税费
						//- th.text-center 舱位等级
						th.text-center 订票
				tbody
					each item in flights
						tr
							td.text-center
								p 菲律宾航空
								p PR383 320(中)
							td.text-center
								p 5月6日 01:45
								hr.half-rule
								p 5月10日 01:45
							td.text-center
								p 10小时
							td.text-center
								p 北京国际机场
								hr.half-rule
								p 广州白云国际机场
							td.text-center
								p ¥702
							td.text-center
								p ¥690
							//- td.text-center
								p 经济舱
							//- td: a(target="_blank", href="../admin/update/#{item._id}") 修改
							td.text-center
								a(target="_blank", href="/ticketDetail/3")
									button.btn.btn-outline.del(type="button", data-id="#{item._id}") 订票
		nav.text-center
			ul.pagination
				//- li.disabled
				//- 	a(href="#") <<
				//- li.disabled
				//- 	a(href="#") <
				li.active
					a(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") >
				li
					a(href="#") >>
