//-首页
//-继承通用模块
extends ../layout

block javascript
	script(src="../js/index.js")
	script(src="../lib/js/select2.js")
	script(src="../lib/js/bootstrap-datepicker.js")

block css
	link(href="../lib/css/select2.css", rel="stylesheet")
	link(href="../lib/css/datepicker3.css", rel="stylesheet")
	link(href="../css/index.css", rel="stylesheet")

block content
	div(ng-controller="indexCtrl")
		.jumbotron.bs-docs-header
			.container
				h1(style="color:#fff") 机票查询
		.container
			.row(style="padding:10px")
				.col-xs-12.col-md-8
					.row.form-group
						.col-xs-6
							//- label.col-sm-2.control-label 出发地
							//- #leaveCity.select2-container.select-box(placeholder="出发地")
							input#leaveCity.form-control(placeholder="出发地")
						.col-xs-6
							//- label.col-sm-2.control-label 目的地
							//- #arrCity.select2-container.select-box(placeholder="目的地")
							input#arrCity.form-control(placeholder="目的地")
					.row.form-group
						.col-xs-6
							input#company.form-control(placeholder="航班公司")
						.col-xs-6
							input#flightNumber.form-control(placeholder="航班号")
					.row.form-group
						.col-xs-6
							//- label.col-sm-2.control-label 出发时间
							#startDatepicker.input-group.input-append.date.datepicker(data-date="",data-date-format="yyyy-mm-dd")
								input.span2.form-control(size="16",placeholder="出发时间",type="text",value="",readonly="")
								span.add-on.input-group-addon
									i.glyphicon.glyphicon-calendar
						//- .col-xs-6
							//- label.col-sm-2.control-label 到达时间
							#endDatepicker.input-group.input-append.date.datepicker(data-date="",data-date-format="yyyy-mm-dd")
								input.span2.form-control(size="16",placeholder="到达时间",type="text",value="",readonly="")
								span.add-on.input-group-addon
									i.glyphicon.glyphicon-calendar
						.col-xs-6
							#sortOrder.select2-container.select-box(placeholder="排序")
							input.orderLevel(type="radio",name="sortLevel",value="asc",style="margin-top:25px",checked=true)
							span 升序
							input.orderLevel(type="radio",name="sortLevel",value="des",style="margin-top:25px")
							span 降序
				.col-xs-6.col-md-4
					a.btn.btn-outline(id="search",ng-click="search()") 查询
		.container
			.row
				table.table.table-hover.table-bordered
					thead
						tr
							th.text-center 航班信息
							th.text-center 起降时间
							th.text-center 起降地点
							th.text-center 经济舱
							th.text-center 商务舱
							th.text-center 头等舱
							th.text-center 订票
					tbody
						//- each item in flights
						tr(ng-repeat="item in flights")
							td.text-center
								p {{item.attributes.company}}
								p {{item.attributes.flightNumber}}
							td.text-center
								p {{item.attributes.leaveDate}}&nbsp;&nbsp;&nbsp;{{item.attributes.leaveTime}}
								hr.half-rule
								p {{item.attributes.arrDate}}&nbsp;&nbsp;&nbsp;{{item.attributes.arrTime}}
							td.text-center
								p {{item.attributes.leaveCity}}&nbsp;&nbsp;&nbsp;{{item.attributes.leaveAirport}}
								hr.half-rule
								p {{item.attributes.arrCity}}&nbsp;&nbsp;&nbsp;{{item.attributes.arrAirport}}
							td.text-center
								input.levelRadio(type="radio",name="level",value="economy",style="margin-top:25px")
								p ¥{{item.attributes.economyFare}}
								hr.half-rule
								p 剩余{{item.attributes.economyCount}}张
								div(style="clear:both")
							td.text-center
								input.levelRadio(type="radio",name="level",value="business",style="margin-top:25px")
								p ¥{{item.attributes.businessFare}}
								hr.half-rule
								p 剩余{{item.attributes.businessCount}}张
							td.text-center
								input.levelRadio(type="radio",name="level",value="first",style="margin-top:25px")
								p ¥{{item.attributes.firstFare}}
								hr.half-rule
								p 剩余{{item.attributes.firstCount}}张
							td.text-center(style="vertical-align:middle")
								a(target="_blank", ng-click="newOrder(item.attributes._id,item.attributes)", href="")
									button.btn.btn-outline.del(type="button") 订票
			nav.text-center
				ul.pagination
					//- li(ng-class="{disabled:pages[0]==1}")
					//- 	a(href="#") <<
					//- li(ng-class="{disabled:activePage[0]}")
					//- 	a(href="#") <
					//- li(ng-if="flights.length>0&&!pages[0]==1")
						a(href="#") <<
					li
						span 共{{pageNum}}页
					li
						a(href="#",ng-click="queryByPage(1)") 首页
					//- li(ng-if="flights.length>0&&!activePage[0]")
					//- 	a(href="#",ng-click="queryByPage(curPage-1)") <

					li(id="page{{page}}",ng-repeat="page in pages" )
						a(href="#",ng-click="queryByPage(pages[$index])") {{page}}

					//- li(ng-if="flights.length>0&&!activePage[pageNum-1]")
					//- 	a(href="#",ng-click="queryByPage(curPage+1)") >
					li
						a(href="#",ng-click="queryByPage(pageNum)") 尾页
					li
						input#target-page.form-control(type="text",style="width:40px;display:inline;margin-left:10px")
					li
						button.btn.btn-primary(style="margin-left:10px",ng-click="jump2target()") 跳页
